*.ipynb linguist-vendored
*.py linguist-language=Python
*.txt linguist-language=Text
*.csv linguist-language=CSV
*.json linguist-language=JSON
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.md linguist-language=Markdown
*.html linguist-language=HTML
*.xml linguist-language=XML
*.sh linguist-language=Shell
*.bat linguist-language=Batchfile
*.ps1 linguist-language=PowerShell
*.dockerfile linguist-language=Dockerfile
*.dockerignore linguist-language=Dockerfile
*.tf linguist-language=HCL
*.tfstate linguist-language=HCL
*cpp linguist-language=C++
*hpp linguist-language=C++